/* Navbar */
.navbar-custom {
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.button {
    color: #F78764;
}

.nav-link {
    font-size: 1 rem;
}

.nav-link:hover {
    color: #F78764;
}


/* Buttons */
.custom-solid {
    border-color: #F78764;
    background-color: #F78764;
    color: #fff;
}

.custom-solid:hover {
    border-color: #F78764;
    background-color: #fff;
    color: #F78764;
}

.custom-outline {
    border-color: #F78764;
    background-color: #fff;
    color: #F78764;
}

.custom-outline:hover {
    border-color: #F78764;
    background-color: #F78764;
    color: #fff;
}


/* Jumbotron */

.jumbotron {
    height: 400px;
    position: relative;
    background: no-repeat center center;
    background-size: cover;
    background-attachment: scroll;
}

.jumbo-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #212529;
    opacity: 0.5;
}

.jumbo-title {
    position: relative;
    color: #fafafa;
}

.jumbo-subheader {
    font-size: 1.1rem;
}


/* Headings */

.big-heading {
    font-size: 5rem;
    line-height: 1.5;
}

.medium-heading {
    font-size: 2.5rem;
    line-height: 1.5;
}

.small-heading {
    font-size: 1.7rem;
    line-height: 1.5;
}

.subheading {
    font-size: 1.1rem;
}
