{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
<!-- Banner -->
<div class="container-fluid text-light p-5 jumbotron"
style="background-image: url({{ url_for('static', filename='img/home-banner.jpg') }})">
    <div class="jumbo-overlay"></div>
    <div class="container p-5 d-flex align-items-center justify-content-center h-100">
      <div class="jumbo-title" style="text-align: center">
        <h1 class="big-heading">Welcome to Sakura Lounge</h1>
        <p class="subheading">Database management system</p>
      </div>
    </div>
</div>

<div class="container my-5">
    <h1>About us</h1>
    <p>Sakura Lounge is a popular sushi restaurant serving approximately 
        40,000 meals per year, pulling an annual revenue of $3 million. 
        With a diverse sushi menu, from traditional sashimi to unique 
        fusion rolls, the restaurant offers more than 100 different 
        menu items.
    </p>
    <p>
        This database management system is designed to manage and record 
        a high volume of customer orders, detailed menu item data, and 
        employee transactions. By tracking customer dining habits, popular 
        dishes, and server performance, the database allows the restaurant 
        management to refine their menu, optimize staff schedules, and 
        enhance overall customer service and revenue. 
    </p>
</div>
{% endblock %}